/*-- scss:defaults --*/

$theme-beige: #fafafa;
$theme-green: #5CB4C2;
$theme-forest: #345136;
$theme-red: #AF4E37;
$theme-orange: #E68232;
$theme-yellow: #F4BA02;

$link-color: lighten($theme-forest, 10%);

/*-- scss:rules --*/

.icon h1 {
    text-align: center;
    color: $theme-orange;
}

.center h5 {
    text-align: center;
}

.red {
    color: $theme-red;
    font-weight: bold;
}

.orange {
    color: $theme-orange;
    font-weight: bold;
}

.yellow {
    color: $theme-yellow;
    font-weight: bold;
}

.forest {
    color: $theme-forest;
    font-weight: bold;
}