/*-- scss:defaults --*/

$theme-beige: #cdbaba;
$theme-green: #5CB4C2;
$theme-forest: #345136;

$link-color: lighten($theme-forest, 10%);

/*-- scss:rules --*/

.icon h1 {
    text-align: center;
    color: $theme-beige;
}

.center h5 {
    text-align: center;
}


.forest {
    color: $theme-forest;
    font-weight: bold;
}